.display-2 {
  font-size: 500%;
  text-align: center;
  font-family: 'Pattaya', sans-serif;
}
body {
  background-color: #00bbbb;
  font-family: 'Open Sans Condensed', sans-serif;
}
.jumbotron {
  background-image: url('../images/header_background.jpg');
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}
.titleContainer {
  background-color: #FBEA74;
  border-radius: 10px;
  text-align: center;
  padding: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.btn {
  border-radius: 25px;
  margin-right: 5px;
}
.form-control {
  border-radius: 10px;
}
.totalContainer {
  background-color: lightgray;
  border-radius: 10px;
  opacity: .9;
  margin-top: 10px;
  margin-bottom: 10px;
}
footer {
  padding: 10px 0;
  clear: both;
  font-size: 12px;
  color: rgb(36, 35, 35);
  text-align: center;
  background: rgb(197, 196, 196);
  border-top: 8px solid #FBEA74;
  height: 50px;
  }